/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    transition: 0.4s ease;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
}

.slider-container {
    box-shadow: 0 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow: hidden;
}

.slide {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: 0.4s ease;
    z-index: 1;
}

.slide.active {
    opacity: 1;
}

.arrow {
    position: fixed;
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    border: 2px solid orange;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.left-arrow {
    left: calc(15vw - 65px);
    color: white;
}

.right-arrow {
    right: calc(15vw - 65px);
    color: white;
}

/* BACKGROUND IMAGES */
.slide-bg-one {
    background-image: url("https://cdn.pixabay.com/photo/2011/12/14/12/11/astronaut-11080_1280.jpg");
}

.slide-bg-two {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/20/16/astronaut-1840936_1280.jpg");
}

.slide-bg-three {
    background-image: url("https://cdn.pixabay.com/photo/2012/11/28/12/13/international-space-station-67774_1280.jpg");
}

.slide-bg-four {
    background-image: url("https://cdn.pixabay.com/photo/2010/12/01/space-shuttle-774_1280.jpg");
}

.slide-bg-five {
    background-image: url("https://cdn.pixabay.com/photo/2012/11/28/11/25/satellite-67718_1280.jpg");
}

